
    <!-- _includes/meeting_tr.html -->
    <tr {% if include.class %}class="{{ include.class }}"{% endif %} {% if include.future-date %}future-date="{{ include.future-date | date: '%Y%m%d' }}"{% endif %} {% if include.past-date %}past-date="{{ include.past-date | date: '%Y%m%d' }}"{% endif %}>

        <!-- date -->
        <th scope="row">
          <p style="text-align: right;">{{entry.date | date: "<b>%Y/%m/%d</b> <br/> %l:%M %p"}}</p>
        </th>

        <!-- presenter -->
        <td>
          <p style="text-align: center;">{{entry.presenter}}<br>
          {% assign summary = site.posts |  where: "title", entry.paper%}
          {% for summary_page in summary %}
            {% assign entry_date = entry.date | date_to_string%}
            {% assign summary_date = summary_page.date | date_to_string%}
            {% if summary_date == entry_date %}
            <!-- TODO: add redirect to external links. -->
              ( <a href= "{{summary_page.url | relative_url }}">Summary</a> )
            {% endif %}
          {% endfor %}
          </p>
        </td>

        <!-- paper -->
        <td>
          <p style="margin:0px;"><b>{{entry.paper}}.</b><br>
          {% if entry.authors %}
          <i>{{entry.authors}}</i>
          {% endif %}
          {% assign link_toggle = 0 %}
          {% if entry.url %}
          {% if link_toggle == 0 -%} ( {%- assign link_toggle=1 -%} {%- else -%} , {% endif %}
          <a href="{{entry.url}}">Link</a>
          {% endif %}

          {% if entry.pdf %}
          {% assign pdf_n = entry.pdf.size | minus: 1%}
            {% if pdf_n > 4 %}
              {% if link_toggle == 0 -%} ( {%- assign link_toggle=1 -%} {%- else -%} , {% endif %}
              <a href="{{entry.pdf}}" target="_blank">PDF</a>
            {% else %}
              {% assign range = (0..pdf_n) %}
              {% for idx in range %}
                {% if link_toggle == 0 -%} ( {%- assign link_toggle=1 -%} {%- else -%} , {% endif %}
                <a href="{{entry.pdf[idx]}}" target="_blank">PDF{{ idx | plus: 1 }}</a>
              {% endfor %}
            {% endif %}
          {% endif %}

          {% if entry.slides %}
          {% if link_toggle == 0 -%} ( {%- assign link_toggle=1 -%} {%- else -%} , {% endif %}
          <a href="{{entry.slides}}" target="_blank">Slides</a>
          {% endif %}
          {% if link_toggle == 1 -%} ) {%- endif %}
        </td>

    </tr>