{% if include.filter %}
  {% assign filter = include.filter %}
{% else %}
  {% assign filter = 'all' %}
{% endif %}

<table class="table table-sm table-striped table-hover">
    <thead class="thead-dark" 
      style="font-size: 18px; text-align: center;">
      <tr>
        <th scope="col" style="width: 10%">Date</th>
        <th scope="col" style="width: 15%">Presenter</th>
        <th scope="col" style="width: auto">Reading</th>
      </tr>
    </thead>  

    <tbody>
      {% if filter contains 'future' %}
        {% assign sortMeetingInfo = site.data.meeting_info | sort: 'date' %}
      {% else %}
        {% assign sortMeetingInfo = site.data.meeting_info | sort: 'date' | reverse %}
      {% endif %}

      {% for entry in sortMeetingInfo %}
        
        <!-- row for future events. -->
        {% include meeting_tr.html class="future-item" future-date = entry.date %}

        <!-- rows for past events. -->
        {% if filter contains 'all' %}
          {% include meeting_tr.html past-date = entry.date %}
        {% endif %}

      {% endfor %}
    </tbody>
  </table>

  {% include date-filter.html %}