
    <!-- _includes/people.html -->
    <div class="col-md-6 ml-mr-auto mt-3 mb-3">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-4 col-sm-3 col-md-4">
          {% if people.img %}
            {% assign image = people.img | split: '/' | last | prepend: "assets/img/people/" %}
            {%- include figure.html class="card-img"
              path=image -%}
          {% else %}
            {%- include figure.html 
              class="card-img"
              path="assets/img/people/default-avatar.png" -%}
          {% endif %}
          </div>
          <div class="col-7 col-sm-8 col-md-7 ml-4">
            <h5 class="card-title">{{people.title}}</h5>
            <hr>

            <div class="row">
            {% if people.category == "Alumni" %}
              <p class="card-item">{{people.description}}</p>
            {% else %}
              <div class="col-3">
                {% if people.redirect -%}
                  <a href="{{ people.redirect }}" class="card-link" title="link"><i class="fas fa-link"></i></a>
                {%- else -%}
                  <a href="{{ people.url | relative_url }}" class="card-link" title="link"><i class="fas fa-link"></i></a>
                {%- endif %}
              </div>
              {% if people.email -%}
                <div class="col-3">
                <a href="mailto:{{ people.email | encode_email }}" class="card-link" title="email"><i class="fas fa-envelope"></i></a>
                </div>
              {%- endif %}
              {% if people.google_scholar -%}
                <div class="col">
                <a href="{{ people.google_scholar | relative_url }}" class="card-link" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
                </div>
              {%- endif %}
              {% if people.github_username -%}
                <div class="col">
                <a href="https://github.com/{{ people.github_username }}" class="card-link" title="GitHub"><i class="fab fa-github"></i></a>
                </div>
              {%- endif %}
            {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
